@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="indexHeader">
    <h1>Traffic Report</h1>

    <p class="lead">Traffic Report is a web application that allows you to view and analyse traffic data and weather data and get an insight into the trends occuring. </p>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>CSV File Upload</h2>
        <p>
            @using (Html.BeginForm("Upload", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group">
                    <input type="file" id="csvFile" name="upload" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-default" />
                </div>
            }
        </p>
    </div>
   
</div>